name: Build and deploy container app to Azure Web App - rag-api-service-2026

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  # GHCR 푸시 권한 추가!

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_CE1ADADCE8834E8685E64B58F968CC3A }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_12C70E1A2506408D96FF6D3C2549AB65 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: |
            ghcr.io/wish1124/appsvc/staticsite:${{ github.sha }}
            ghcr.io/wish1124/appsvc/staticsite:latest
          file: ./Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    needs: build
    
    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_09437D9DE2AA49A793E36FCA49F8D676 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_DED72DF2C3224562B20E073A86AC3F31 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_906C7E365B264F4FAE7AEEBECDD9ECC2 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'rag-api-service-2026'
          slot-name: 'Production'
          images: 'ghcr.io/wish1124/appsvc/staticsite:${{ github.sha }}'
